body,html{
	height: 100%;
	width: 100%;
    font-family: 'Henny Penny', cursive;;
	background: url(project.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}

h1{

	font-size: 35px;
	font-weight: 10px;
	color: black;
	text-align: center;
	border: solid 2px black;
	background-color: rgba(100, 0, 100, 0.3);
	
   
}
.btn{
	
	margin: 1rem 1rem;
	border-width: 2px;
	border-color: black;
	text-transform: uppercase;
	border: solid 2px black;



}

.btn-xl{
	padding: 1rem 2rem;
}
.break{
	height: 10px;
}
.btn:hover{
  background-color:#7EC8E3 ;
  border-color:#7EC8E3 ;
  border-width:10px ;
}
